<p id="notice"><%= notice %></p>

<p>
  <strong>House:</strong>
  <%= @chore.house %>
</p>

<p>
  <strong>Description:</strong>
  <%= @chore.description %>
</p>

<p>
  <strong>Completed:</strong>
  <%= @chore.completed %>
</p>

<%= link_to 'Back', chores_path(@house, @chore) %>
